# Importing Libraries for visualization and preprocessing

import pandas as pd
import plotly.express as px
import re
import nltk
nltk.download('stopwords')
from langdetect import detect
import matplotlib.pyplot as plt

# Importing Libraries for classification
import sklearn
from sklearn.model_selection import train_test_split

# Set up TfidfTransformer to use CountVectorizer and calculate inverse document frequencies and encode tweets
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier

# Importing libraries for evaluation
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import f1_score